body {
            margin: 0;
            font-family: Arial, sans-serif;
        }


        a{
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            background-color: rgb(0, 0, 0);
            border-radius: 10PX;
            padding: 15px 30px;
            padding: auto;
            color: #fff;
            text-decoration: none;
            
            }
            a:hover{
                background-color: transparent;
                border: 2px solid rgb(rgb(236, 213, 5), green, blue);
                color: rgb(3, 48, 48);
            
            }

/*barra de navegacion*/
        header {
            background-color: #000000;
            color: white;
        }
        .logo{
           text-align: center;
        }

        

        .toggle-button {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .toggle-button span {
            background-color: white;
            height: 3px;
            margin: 2px 0;
            width: 25px;
        }

        @media (max-width: 768px) {
            .menu {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            .menu a {
                margin: 0.5rem 0;
            }

            .menu.active {
                display: flex;
            }

            .toggle-button {
                display: flex;
            }
        }


        /*SLIDER CARRUSEL*/
        .titulo{
            text-align: center;
            font-size: 40px;
            padding-top: 50px;
            }
            
            .slider-box{
                width: 1200px;
                height: 400px;
                margin: 50px auto 0;
                overflow: hidden;
            
            }
            
            .slider-box ul{
                display: flex;
                padding: 0;
                width: 400%;
                animation: slide 20s infinite alternate ease-in-out;
            }
            
            .slider-box li{
                width: 100%;
                list-style: none;
                position: relative;
            }
            
            
            .texto h2{
                font-size: 45px;
                margin-bottom: 35px;
            }
            .slider-box img{
                width: 100%;
            }
            
            @keyframes slide {
                0%{margin-left: 0;}
                20%{margin-left: 0;}
            
                25%{margin-left: -100%;}
                45%{margin-left: -100%;}
            
                50%{margin-left: -200%;}
                70%{margin-left: -200%;}
            
                75%{margin-left: -300%;}
                100%{margin-left: -300%;}
            }
            
            @media(max-width:991px){
            
                body{
                    padding: 30px;
                }
                .slider-box{
                    width: 100%;
                }
                .texto{
                    top: 50px;
                    padding: 0;
                }
            
                .texto h2{
                    font-size: 35px;
                    margin-bottom: 15px;
                }
                .texto p{
                    font-size: 15px;
                }
            }


            
            /*CONTENIDO PRINCIPAL */
            .main-content {
                padding: 20px;
                text-align: center;
            }
            
            .grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
            }
            
            .grid-item {
                background-color: #fff;
                padding: 20px;
                border-radius: 50px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                text-align: center;
            }
            
            .grid-item img {
                max-width: auto;
                height:100px;
                border-radius: 8px;
            }
            
            .precios {
                margin-top: 10px;
            }
            
            .precios p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 16px;
                margin: 5px 0;
                color: #333;
            }
            
            
            @media(max-width:991px){
            
                body{
                    padding: 30px;
                }
                .main-content{
                    width: 100%;
                }
                .texto{
                    top: 50px;
                    padding: 0;
                }
            
                .texto h2{
                    font-size: 35px;
                    margin-bottom: 15px;
                }
                .texto p{
                    font-size: 15px;
                }
            }


            /* Estilos del footer */
.site-footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin-top: 30px;
}

.site-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer .footer-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.social-links a:hover {
    text-decoration: underline;
}

.btn-1{
    display: block;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
background-color: rgb(233, 211, 15);
border-radius: 10PX;
padding: 15px 30px;
padding: auto;
color: #8b8b83;
text-decoration: none;

}

@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr); /* Cambia a 2 columnas en dispositivos pequeños */
    }
    .image-container{
        grid-template-columns: repeat(2,1fr);
    }
}